<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add new gear.</title>
  </head>
  <body>
    <h1>Add new gear.</h1>
    <form action="/inventory" method="POST">
      <input type="text" name="name" placeholder="Item Name">
      <input type="text" name="product_Location" placeholder="Location of item">
      <input type="text" name="activity" placeholder="Outdoor Activity">
      <input type="text" name="owner" placeholder="Owned by">
    </form>
  </body>
</html>
