<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
  </head>
  <body>

  </body>
</html>

<!-- //for loop that goes through the users so that a list tag can list each user
//then after a list of usernames is displayed
//nest another for loop that goes through the users.inventories.length -->
