<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- END Style Sheets -->
    <title>Add new account.</title>
  </head>
  <body>
    <h1>Add new account.</h1>
    <!-- //basic form that will take in a users name and password
    Adding the inventory schema nested-->
    <form action="/user" method="POST">
      <input type="text" name="email" placeholder="Your Email" />
      <input type="text" name="password" placeholder="Password" />
    </form>
  </body>
</html>
